{
    "presets": [
        "@babel/env",
        ["@babel/typescript", { "jsxPragma": "Reaksi.createElement" }]
    ],
    "plugins": [
        ["@babel/transform-react-jsx", { "pragma": "Reaksi.createElement"}]
    ]
}